@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Noto+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0b0b22;
  color: #fff;
}

.button {
  background-color: rgba(255, 255, 255, 10%);
}

.button-color {
  background-color: #6016fc;
}

.subTitle {
  color: #16fcd2;
  font-weight: 400;
}

.bg-light {
  background-color: rgba(255, 255, 255, 5%);
}

.muted {
  color: rgba(255, 255, 255, 60%);
}

.navbar {
  font-family: "DM Sans", sans-serif;
}

.navbar-scoll {
  background-color: rgba(255, 255, 255, 5%);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 10%);
}

.navbar-links {
  font-family: "Noto Sans", sans-serif;
  color: rgba(255, 255, 255, 80%);
}

/* hamburger  */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
