@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Noto+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0b0b22;
  color: #fff;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0b0b22;
  z-index: 2;
  overflow: hidden;
  transition: all 0.5s ease;
}

.button {
  background-color: rgba(255, 255, 255, 10%);
}

.border_ {
  border-bottom: 1px solid rgba(255, 255, 255, 10%);
}
.border__ {
  border: 1px solid rgba(255, 255, 255, 10%);
}
.border__t {
  border-top: 1px solid rgba(255, 255, 255, 10%);
}

.button-color {
  background-color: #6016fc;
}

.subTitle {
  color: #16fcd2;
  font-weight: 400;
}

.bg-light {
  background-color: rgba(255, 255, 255, 5%);
}
.bg-light__ {
  background-color: rgba(255, 255, 255, 6%);
}
.bg-teams {
  background-color: rgba(2, 2, 8, 0.8);
}

.muted {
  color: rgba(255, 255, 255, 60%);
}

.navbar {
  font-family: "DM Sans", sans-serif;
  z-index: 99;
}

.navbar-scroll {
  /* background-color: rgba(255, 255, 255, 5%); */
  background-color: rgba(11, 11, 34, 0.5);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 10%);
}

.navbar-links {
  font-family: "Noto Sans", sans-serif;
  /* color: rgba(255, 255, 255, 80%); */
}
.navbar-muted {
  color: rgba(255, 255, 255, 60%);
}

.orange-gradient {
  background: linear-gradient(180deg, rgb(252, 160, 22, 0) 0%, #fca016 100%);
  filter: blur(300px);
}
.orange-gradient__2 {
  background: linear-gradient(180deg, rgb(252, 160, 22, 0) 0%, #fca016 100%);
}

.green-gradient {
  background: linear-gradient(180deg, rgb(22, 252, 210, 0) 0%, #16fcd2 100%);
  filter: blur(200px);
}
.green-gradient__2 {
  background: linear-gradient(180deg, rgb(22, 252, 210, 0) 0%, #16fcd2 100%);
}

.green-2-gradient {
  background: linear-gradient(180deg, rgb(102, 255, 163, 0) 0%, #214d76 100%);
  filter: blur(100px);
}

.green-ball-gradient {
  background: linear-gradient(180deg, #16fcd2 20%, #16fcd2 100%);
  filter: blur(10px);
}

.red-gradient {
  background: linear-gradient(180deg, rgb(252, 22, 91, 0) 0%, #fc165b 100%);
  filter: blur(300px);
}
.red-gradient__2 {
  background: linear-gradient(180deg, rgb(252, 22, 91, 0) 0%, #fc165b 100%);
}

.red-ball-gradient {
  background: linear-gradient(180deg, #fd497f 20%, #fc165b 100%);
  filter: blur(10px);
}

.blue-gradient {
  background: linear-gradient(180deg, rgb(96, 22, 252, 0) 0%, #6016fc 100%);
  filter: blur(150px);
}
.blue-gradient__2 {
  background: linear-gradient(180deg, rgb(96, 22, 252, 0) 0%, #6016fc 100%);
}

.blue-ball-gradient {
  background: linear-gradient(180deg, #6016fc 20%, #6016fc 100%);
  filter: blur(10px);
}

/* hamburger  */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.line.active {
  stroke: crimson;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
